// ==========================================================================================================================================
// FONTS
// ==========================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$primary-font: 'Inter', sans-serif;

// ==========================================================================================================================================
// COLORS
// ==========================================================================================================================================
$white-color: #F6F6F6;
$black-color: #141414;
$green-color: #3fff2e;

// ==========================================================================================================================================
// TRANSITIONS
// ==========================================================================================================================================
$transition-100: all 100ms ease;
$transition-200: all 200ms ease;
$transition-300: all 300ms ease;
$transition-400: all 400ms ease;
$transition-500: all 500ms ease;
$transition-600: all 600ms ease;
$transition-700: all 700ms ease;
$transition-800: all 800ms ease;
$transition-900: all 900ms ease;